<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>CST 205 Mars Weather</title>
  {{ bootstrap.load_css() }}

</head>
<body>


    <div class="container">
      <h1 class="mt-4">Mars Weather data Bar Graphs</large></h1>



              <div class="card">
             
                <img src ="/static/images/bargraph.png" class = " " alt =" ">
          </div>
          <div class="card">
             
            <img src ="/static/images/bar_pressure_reading.png" class = " " alt =" ">
      </div>
        </div>
        <br>


</div>
</body>
</html>