<form method="POST">
    <div class="form-group">
      <!--form asking for start and end date to be inputted for day you wish to see nasa images on-->
      <label for="date">Enter the start date (yyyy-mm-dd):</label>
      <input type="text" class="form-control" id="date" name="date" required>
    </div>
    <label for="date">Enter the end date (yyyy-mm-dd):</label>
    <input type="text" class="form-control" id="date" name="enddate" required>
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
