<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CST 205 APOD</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container my-5">
    <h1 class="text-center mb-4">NASA's Picture of the Day Photos</h1>
    <form method="POST" action="{{ url_for('NasaBase') }}">
      <div class="form-group">
        <label for="start_date">Enter the start date (yyyy-mm-dd):</label>
        <input type="text" class="form-control" id="start_date" name="start_date" required>
      </div>
      <div class="form-group">
        <label for="end_date">Enter the end date (yyyy-mm-dd):</label>
        <input type="text" class="form-control" id="end_date" name="end_date" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% if data %}
    {% for item in data %}
    <div class="card mb-4">
      <img src="{{ item['url'] }}" class="card-img-top" alt="NASA Image">
      <div class="card-body">
        <h5 class="card-title">{{ item['title'] }}</h5>
        <p class="card-text">{{ item['explanation'] }}</p>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="alert alert-info" role="alert">
      No data available.
    </div>
    {% endif %}
    <div class="text-center mt-3">
      <a href="{{ url_for('home') }}" class="btn btn-info" role="button">Click to go Back to Menu</a>
    </div>
  </div>
</body>
</html>
